h1 {
    font-size: 70px;
    color: black;
}

.crewImage {
    max-width: 50%;
    min-width: 15%;
    margin: 2%;
    object-fit: cover;
}

.card {
    width: 50%
}

@media (max-width: 1200px) {
    .crewImage {
        max-width: 70%;
        object-fit: cover;
    }
    .card {
        width: auto;
    }
}

